 @model IEnumerable<Rent_a_ride.Models.RentViewModel>


@*<h6>Checkbox unavailable ??? oops !!! (Vehicle is not available)Select another vehicle.</h6>*@

<div class="row">
    <div class="col-sm-4">

        @using (Html.BeginForm("Save", "Rentcar", FormMethod.Post, new { id = "popupForm" }))
        {
            <div>
                <h2> Car Rent </h2>
            </div>

            <div class="form-group">
                <label class="form-label"> Car Number</label>
                <select class="form-control" id="CarId" name="CarId" placeholder="Car Number" required>
                    <option> Select your Four Wheeler !!! </option>
                </select>
            </div>




            <div class="form-group">
                <label class="form-label">Customer Id</label>
                <input type="text" id="CustomerId" name="CustomerId" class="form-control" placeholder="Customer Id" required>
            </div>


            <div class="form-group">
                <label class="form-label">Customer Name</label>
                <input type="text" id="CustomerName" name="CustomerName" class="form-control" placeholder="Customer Name" required>
            </div>


            <div class="form-group">
                <label class="form-label">Rental Fee</label>
                <input type="text" id="Fee" name="Fee" class="form-control" placeholder="Rental Fee" required>
            </div>


            <div class="form-group">
                <label class="form-label">Start Date</label>
                <input type="date" id="StartDate" name="StartDate" class="form-control" placeholder="Pickup date" required>
            </div>

            <div class="form-group">
                <label class="form-label">End Date</label>
                <input type="date" id="EndDate" name="EndDate" class="form-control" placeholder="Drop date" required>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>



        }

    </div>
</div>

<div class="col-sm-8">

    <table class="table">

        <tr>
            <th>CarNum</th>
            <th>CustomerId</th>
            <th>Fee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Available</th>

        </tr>


        @foreach(var item in Model)
        {
    <tr>
        <td>@item.CarId</td>
        <td>@item.CustomerId</td>

        <td>@item.Fee</td>

        <td>@item.StartDate</td>
        <td>@item.EndDate</td>
        <td>@item.Available</td>



    </tr>
        }


    </table>







</div>


    @section scripts
{
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>




        <script>


        getcar();
        @*load();*@

        function load() {
            $("#CustomerId").attr("disabled", "disabled");
            $("#CustomerName").attr("disabled", "disabled");
            $("#Fee").attr("disabled", "disabled");
            $("#StartDate").attr("disabled", "disabled");
            $("#EndDate").attr("disabled", "disabled");

        }

        function getcar() {
            $.ajax({

                type: 'GET',
                url: '/Rentcar/Getcar',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);


                    for (var j = 0; j < data.length; j++) {
                        $("#CarId").append($("<option/>", {
                            text: data[j].CarNum

                        }));
                    }

                }

            });

        }


        $("#CarId").change(function () {

            Available();
        });

        function Available() {
            $.ajax({
                type: 'POST',
                url: '/Rentcar/Getavil?CarNum=' + $("#CarId").val(),
                dataType: 'JSON',
                success: function (data) {
                    console.log(data)

                    var aval = data;

                    if (aval == "yes") {

                        $("#CustomerId").removeAttr('disabled');
                        $("#CustomerName").removeAttr('disabled');
                        $("#Fee").removeAttr('disabled');
                        $("#StartDate").removeAttr('disabled');
                        $("#EndDate").removeAttr('disabled');
                    }
                    else {
                        $("#CustomerId").attr("disabled", "disabled");
                        $("#CustomerName").attr("disabled", "disabled");
                        $("#Fee").attr("disabled", "disabled");
                        $("#StartDate").attr("disabled", "disabled");
                        $("#EndDate").attr("disabled", "disabled");
                    }

                }



            });

        }

        getCustomer();
        function getCustomer() {
            $("#CustomerId").keyup(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '/Rentcar/Getid?id=' + $("#CustomerId").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#CustomerName").val(data)

                    }



                });
            });
        }







        </script>
    }
